@import '../base/variables';

/*Inicio clientes*/
.main-clientes {
    margin-top: 6rem;
    .descripcion-clientes {
        text-align: left;
        margin-top: 2rem;
        font-size: 1rem;
    }
    .logo-clientes-container {
        display: grid;
        grid-template-rows: repeat(2, 150px);
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        .logo-clientes-imagen {
            width: 100%;
            align-self: center;
            img {
                width: 100%;
            }
        }
    }
    .pie-logos-clientes {
        text-align: right;
    }
}

/*Fin clientes*/