@import '../base/variables';

/*Inicio contacto*/
.main-contacto {
    margin-top: 6rem;
    .contacto-container {
        section {
            div {
                ul {
                    li {
                        
                    }
                }
            }
            .mapa-direccion {  
                width: 20rem;
                height: 20rem;
            }
        }
        .formulario-contacto {

        }
    }
}