@import '../base/variables';
@import '../base/extends';

/*Inicia footer*/
footer {
    margin-top: 50rem;
    background-color: $bg-header-footer;
    .footer-container-general {
        @extend %flex-center;        
        .footer-general {
            margin-right: 5rem;
            flex-wrap: wrap;
            width: 10rem;

            /*Media queries footer-sm*/
            @media screen and (max-width:576px) {
                margin-right: 0rem;
            }        
            .fab, .fas {
                font-size: 1.5rem;
                color: $color-texto-menu;
                margin-top: 0.5rem;
                margin-bottom: 0.5rem;
                margin-left: 1rem;

                /*Media queries redes-tablet*/
                @media screen and (max-width:768px) {
                    font-size: 1rem;
                }                
            }
        }

        p {
            color: $color-texto-footer;
            font-size: 0.9rem;
            margin-bottom: 0;
            align-self: center;

            /*Media queries derechos reservados-tablet*/
            @media screen and (max-width:768px) {
                font-size: 0.6rem;
            }
            /*Media queries derechos reservados-sm*/
            @media screen and (max-width:576px) {
                text-align: center;
            }
        }
    }
}

/*Fin footer*/
