@import '../base/variables';

/*Inicio header*/
header {
    .navbar {
        padding-top: 0;
        padding-bottom: 0;
        .container-fluid {
            .navbar-brand-ticsi {
                img {
                    width: 4rem;
                    margin-left: 3rem;
                    
                    /*Media queries logo-menú-colapsado*/
                    @media screen and (max-width:768px) {
                        margin-left: 0rem; 
                    }
                }
            }
            .btn-ticsi-h {
                background-color: $color-texto-menu;
            }
        }
    }    
}

/*Inicio menú Ticsi*/
#navbarNavAltMarkup {
    font-family: $font-menu;
    font-size: 1.3rem;
    justify-content: center;

    /*Media queries para menu-tablet*/
    @media screen and (min-width: 768px) and (max-width: 992px) {
        font-size: 1rem; 
    } 

    .navbar-nav {
        .nav-item {
            .nav-link{
                color: $color-texto-menu;
                margin: 0.5rem;
                &:hover {
                    background-color: $color-texto-menu;
                    color: white;
                    border-radius: 0.5rem;
                }
            }
        }
    }
    .d-flex {
        .form-control{
            text-align: right;
            font-family: $font-menu;
        }
        .btn-ticsi-busqueda {
            color: $color-texto-footer;
            border-radius: 0.5rem;
            border: none;
            &:hover {
                background-color: $color-texto-menu;
                color: black;
            }
        }
    }
}

/*Fin header*/