@import '../base/variables';

/*Inicio productos*/
.productos-container {
    margin-top: 6rem;

    h2 {
        margin-top: 2rem;
    }
    .cuidado-facial-container, .velas-otros-container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        margin-top: 2rem;
        .ecopads-container, .toallas-faciales-container, .vinchas-container, .sets-container, .velas200cc-container, .velas500cc-container, .floreros-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                img {
                    width: 15rem;
                    height: 15rem;
                    border-radius: 0.8rem;
                }
            }            
            div {
                p {
                    font-size: 0.8rem;
                    margin-top: 1rem;
                }
            }   
            &:hover {
                transform: scale(1.1);
                background-color: lighten($color: $color-texto-menu, $amount: 10%);
                padding: 0.8rem;
                border-radius: 1rem;
            }
        }
    }
}

/*Fin productos*/