$color-texto-general: rgb(83, 81, 81);
$font-general:'Roboto', sans-serif;
$color-texto-menu:#ffde59;
$font-menu: 'Oswald', sans-serif;
$font-especial: 'Yeseva One', cursive;
$bg-titulos:#f6e7d8;
$bg-header-footer: black;
$color-texto-footer: white;
$color-h: black;